@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.menuItem {
  padding: 10px;
  padding-bottom: 0;
  height: 170px;
  width: 180px;
  min-width: 170px;
  max-width: 180px;
  min-height: 170px;
  max-height: 180px;
  background: rgb(245, 245, 255);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3),
    -2px -2px 3px 0 rgba(0, 0, 0, 0.3);
}

.menuItem:hover {
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
  -webkit-transform: scale(0.92);
  transform: scale(0.9);
}

.guest__menuItem:hover {
  /* cursor: not-allowed; */
  transform: unset;
  -webkit-transform: unset;
}

.menuItem > .menuItem__icon > * {
  font-size: 2.2rem;
  color: #009bf6;
  /* color: rgb(0, 5, 7); */
}

.guest__menuItem > .menuItem__icon > * {
  color: grey;
}

.menuItem > .menuItem__title {
  font-size: 1rem;
  font-weight: normal;
  padding: 0px;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.menuItem > hr {
  width: 74%;
}
.menuItem > .menuItem__subtitle {
  font-size: 0.95rem;
  text-align: center;
  font-weight: normal;
  padding: 15px;
  padding-top: 0px;
  color: rgb(53, 53, 53);
}

@media screen and (max-width: 900px) {
  .menuItem {
    width: 70%;
    height: unset;
    margin-bottom: 10px;
  }
}
