.daily__qoutes {
  margin: auto;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 20%;
  min-height: 260px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgb(32 33 36/70%);
  border-color: rgba(223, 225, 229, 0);
  background: rgba(255, 255, 255, 0.85);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.daily__qoutes .quote__text {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .daily__qoutes {
    width: 90%;
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .daily__qoutes {
    width: 40%;
  }
}
