.input {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 5px 8px;
}

.input > * {
  font-family: "Poppins" sans-serif;
}

.input__container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.input__element {
  height: 40px;
  font-size: 16px;
  padding: 13px 15px;
  border-radius: 4px;
  border: 2px solid #c2c2c2;
  width: 100%;
  z-index: 5 !important;
  outline: none;
  box-sizing: border-box;
  background-color: transparent !important;
  transition: all ease-in-out 0.15s;
}

.input__element ~ label {
  user-select: none;
  cursor: text;
}

input.password ~ .input__showPassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}

input.password ~ .input__showPassword:hover * {
  color: #3db8ff;
}

.input__element:focus {
  border-color: #3db8ff;
}

.input__element:focus ~ .placeholder,
.placeholder.content {
  font-weight: 400;
  z-index: 10;
  color: #3db8ff !important;
}

.placeholder {
  padding: 0 2px;
  background-color: #fdfdfdf2;
  color: #151515;
  z-index: 0;
  font-family: "Poppins" sans-serif;
  font-size: 1rem;
  text-align: start;
  font-size: medium;
  font-weight: 400;
  transition: all ease-in-out 0.15s;
}

.placeholder.content {
  color: #151515 !important;
}
