@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.page_headers{
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.page_headers .logo {
  width: 170px;
  filter: drop-shadow(2px 4px 4px #000000);
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 3vh;
}
.welcome_header{
  display: none;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.8rem;
  font-family: "Lobster Two";
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.page_headers .separator {
  display: none;
  border-top: 1px solid white;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.register .title {
  display: none;
  width: fit-content;
  margin: auto;
  font-size: 1.4rem;
  font-family: "Lobster Two";
  font-weight: normal;
  color: #ffffff;
}
.register .page_content{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  margin: auto;
}
.register__aside {
  display: flex;
  flex-flow: column nowrap;
    color: #ffffff;
  width: 100%;
  margin: auto;
  margin-top:30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Code for list*/
:root {
    --bg: #fdfdfd;
    --highlight1: #03a9f4;
    --highlight2:purple;
    --color: #1a1e24;
    --font-number: "Oxygen";
    --font-head: "Poiret One";
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.list_tittle{
  text-align: center;
  align-self: center;
  margin: auto;
  margin-bottom: 30px;
  font: lighter 1.8rem var(--font-head);
}
.tilesWrap {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    align-items: center;
    margin: auto;

}
.tilesWrap li {
    display: block;
    clear: both;
    counter-increment: list;
    padding-bottom: 25px;
    font: lighter 1rem var(--font);
    position: relative;
    max-width: 69%;

}
.tilesWrap li:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 46px;
    height: 46px;
    float: left;
    margin: 0 1rem 0.7rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}
.tilesWrap li:after {
    width:  23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}
.tilesWrap h2 {
  display: none;
}
.tilesWrap h3 {
    padding:0;
    margin: auto;
    font: normal 1.5rem var(--font-head);
}
.register__main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}
.register__mainForm {
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.1),
    -2px -3px 3px rgba(87, 87, 87, 0.2);
}
.register__mainForm label {
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer
}

.register__mainForm input {
  transition: all ease-in-out 0.2s;
  background: white;
  width: 95%;
  height: 29px;
  max-height: 29px;
  outline: none;
  border: white solid 1px;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 2px;
  padding-left: 7px;
  margin-bottom: 9px;
  
}
.register__mainForm input:focus {
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}
.register__mainForm button {
  transition: all ease-in-out 0.2s;
  padding: 15px 25px 15px;
  background: #03a9f4;
  text-align: center;
  height: 32px;
  color: #fff;
  text-transform: capitalize;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: fit-content;
  font: lighter 1.2rem var(--font);
}
.register__mainForm button:hover {
  background: #03a9f4;
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 7px rgba(255, 255, 255, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 1px;
}
.register__footer {
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  font-style: normal;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  .tilesWrap li {
    max-width: 90%;
  }
}
@media only screen and (min-width: 900px) {
  .register .page_content{
    flex-flow: row nowrap;
  }
  .register__mainForm {
    width: 400px;
    min-width: 200px;
    max-width: 400px;
  }
}

