@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

.register {
  display: flex;
  padding: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.page_headers{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.page_headers .logo {
  width: 180px;
  object-fit: contain;
  filter: drop-shadow(2px 4px 4px #000000);
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 100%;
}
.welcome_header{
  text-align: center;
  margin: auto;
}

/* .register .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 2.2em;
  font-weight: 800;
  color: white;
  filter: drop-shadow(2px 4px 8px #585858);
} */

.register .page-section{
  width: 100%;
  height: 50%;
  display: inline;
  background-color: blue;
}
.register__aside {
  flex: 0.5;
  padding-left: 20px;
  box-sizing: border-box;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.register__aside h1 {
  font-size: 1.6rem;
  margin-left: 25px;
  text-align: center;
  color: rgb(37, 37, 37);
  font-weight: 700;
  text-transform: capitalize;
}

.register__aside h1:first-of-type {
  margin-top: 20px;
}

.register__aside h1:nth-of-type(even) {
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  font-weight: 600;
}

.register__aside h1:last-of-type {
  margin-bottom: 20px;
  transform: scale(1.2);
  font-weight: 800;
  align-items: center;
}

.register__aside p {
  font-size: medium;
  font-style: oblique;
  font-weight: 500;
  display: none;
}

.register__aside p a:hover {
  transition: all ease-in-out 0.2s;
  color: #03a9f4;
}

.register__main {
  flex: 0.5;
}

.register__main h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #03a9f4;
  text-transform: uppercase;
  margin-bottom: 3px;
  filter: drop-shadow(2px 4px 4px rgb(160, 160, 160));
}

.register__mainForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 7px;
  border-radius: 10px;
  color: rgb(223, 223, 223);
  /* background-color: rgba(155, 155, 155, 0.2); */
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.3),
    -2px -3px 3px rgba(87, 87, 87, 0.2); */
}

.register__mainForm label {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: Oxygen, sans-serif;
  cursor: pointer;
}

.register__mainForm input {
  transition: all ease-in-out 0.2s;
  background: white;
  width: 100%;
  height: 29px;
  max-height: 29px;
  outline: none;
  border: white solid 1px;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 2px;
  padding-left: 7px;
  
}
.register__mainForm input:focus {
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}
.register__mainForm button {
  transition: all ease-in-out 0.2s;
  padding: 15px 25px 15px;
  background: #03a9f4;
  text-align: center;
  height: 32px;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.2em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: fit-content;
}


.register__mainForm button:hover {
  background: #03a9f4;
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 7px rgba(255, 255, 255, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 1px;
}
