* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* height: 100vh; */
  /* width: 100vw; */
  background: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.3)), url("https://drscdn.500px.org/photo/130079947/m%3D900/v2?sig=3578a211f39b37304c6940c0017ab13cf0d9d511c41d664fa7f99a5c32067052") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
