.register {
  flex: 1;
  width: 100%;
  max-width: 768px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  background-color: #fff;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
}

.register * {
  color: #000;
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 500;
}

.register__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.register__logo > img {
  width: 180px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
  filter: drop-shadow(1px 2px 2px #000000);
}

.register__title {
  padding: 0 20px;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.register__formHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  padding: 20px;
  box-sizing: border-box;
}

.register__formHeader > div:first-of-type {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.register__formHeader > div:first-of-type > div {
  width: 100%;
}

.register__formMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
  box-sizing: border-box;
}

.register__formMain fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.register__formMain fieldset legend {
  font-weight: 200;
  font-size: 1.2rem;
}

.register__formMain fieldset > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register__formMain fieldset > div > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.register__formMain fieldset label {
  font-weight: 300;
}

.register__form__terms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px 0;
  box-sizing: border-box;
}

.register__form__terms > input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.register__form__terms > label {
  font-weight: 200;
  font-size: 1rem;
}

.register__formMain__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 0;
  box-sizing: border-box;
}

.register__form__button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register__formMain__footer p {
  font-weight: 200;
  order: 1;
  text-align: center;
}

.register__form__button:hover {
  background-color: #3b3b3b;
}

.register__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width: 455px) {
  .register__formHeader > div:first-of-type {
    flex-direction: row;
  }

  .register__formHeader > div:first-of-type > div {
    width: 50%;
  }
}

@media screen and (min-width: 590px) {
  .register__formMain__footer {
    flex-direction: row;
    align-items: center;
  }

  .register__formMain__footer p {
    order: 0;
  }

  .register__form__button {
    order: 1;
  }
}
