@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.page_headers {
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.page_headers .logo {
  width: 170px;
  filter: drop-shadow(2px 4px 4px #000000);
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 3vh;
}
.welcome_header {
  display: none;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.8rem;
  font-family: "Lobster Two";
  font-weight: 100;
  color: #ffffff;
  text-align: center;
}
.page_headers .separator {
  display: none;
  border-top: 1px solid white;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.register .title {
  display: none;
  width: fit-content;
  margin: auto;
  font-size: 1.4rem;
  font-family: "Lobster Two";
  font-weight: normal;
  color: #ffffff;
}
.register .page_content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  margin: auto;
}
.register__aside {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  color: #ffffff;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-right: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*Code for list*/
:root {
  --font-head: "Poiret One";
}

.list_tittle {
  text-align: center;
  align-self: center;
  margin: auto;
  margin-bottom: 30px;
  font: lighter 1.8rem var(--font-head);
}

.tilesWrap {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  align-items: center;
  margin: auto;
}

.register__main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.register__mainForm {
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  gap: 10px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.register__mainForm > :last-child {
  margin: auto;
  margin-top: 10px;
}

.register__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #fff;
}

.checkbox_div{
  margin: auto;
  margin-top: 10px;
}

.checkbox_div> input {
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  border: none;
}

.checkbox_div> input:checked ~ .link{
  background-color: rgb(19, 161, 242);
}

.link{
  color: #fff;
}
.link:hover {
  transition: all ease-in-out 0.2s;
  text-shadow: 0px 1px 1px rgb(81, 182, 240) !important;
}

.register__footer > .separator_footer{
  width: 25%;
}

@media only screen and (max-width: 800px) {
  .tilesWrap li {
    max-width: 90%;
  }
  .register__aside {
    order: 1;
    margin-top: 20px;
  }
  .register__footer > .separator_footer{
    width: 60%;
  }
}



@media only screen and (min-width: 900px) {
  .register .page_content {
    flex-flow: row nowrap;
  }
  .register__mainForm {
    width: 400px;
    min-width: 200px;
    max-width: 400px;
    order: 2;
  }
 
}
