{
  "plugins": [
    [
      "module-resolver",
      {
        // "root": "./src",
        "alias": {
          "@root": "./src",
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@redux": "./src/Redux",
          "@utils": "./src/utils",
          "@assets": "./src/assets",
          "@text-files": "./src/text_files"
        }
      }
    ]
  ]
}
