@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  max-height: 60px;
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.60);
  padding: 15px 60px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid #009bf6;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.logoContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  cursor: pointer;
}

.logoContainer h2 {
  color: #00a8f3;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Lobster Two', cursive;
  margin-left: -3px;
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6)); */
}

.logoContainer img {
  width: 35px;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
}

.header__button {
  display: none;
}

.header__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-items: center;
  margin: auto;
}

.gap {
  width: 150px;
  height: 100%;
  -webkit-order: 99;
  order: 99;
  display: none;
}

.split {
  width: 10%;
  margin: auto;
  display: none;
}

.nav__links {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  gap: 40px;
}

.nav__linksItem {
  list-style: none;
  cursor: pointer;
}

.nav__linksItem > a:hover,
.nav__linksItem span:hover {
  color: #009bf6;
}

.nav__linksItem > a {
  transition: color ease-in-out 0.2s;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

/* If highlights the linkk based on page visited */
.nav__linksItem.active > a {
  color: #009bf6;
}

.header__user {
  width: fit-content;
}

.header__userButton {
  padding: 5px 15px;
  background-color: #009bf6;
  color: #fff;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 6px;
  display: grid;
  place-items: center;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.25s;
}

.header__userButton:hover {
  border-color: rgb(185, 185, 185);
}

.header__userButton.userLoggedIn {
  border-radius: 50%;
  padding: 8px;
  font-size: 1rem;
  overflow: hidden;
  max-width: 42px;
  max-height: 42px;
}

.header__userButton.userLoggedIn img {
  width: 100%;
  object-fit: contain;
}

.header__userButton.userLoggedIn.userPicture {
  padding: 0;
}

@media screen and (max-width: 1110px) {
  .header__logo {
    margin-right: auto;
    width: 120px !important;
    box-sizing: border-box;
  }
  .header {
    position: relative;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .header__button {
    display: block;
  }

  .header__button > .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }

  .header__nav {
    background-color: transparent;
    width: 0.1px;
    padding: 0;
    margin: 0;
  }

  .nav__links {
    position: absolute;
    top: 80px;
    left: -110%;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-height: 80vh;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    gap: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.4s;
    overflow-y: auto;
    text-align: center;
  }

  .nav__linksItem {
    font-size: 1.4rem;
    padding: 14px;
  }

  .nav__links.opening {
    left: 0%;
    max-width: 450px;
    transition: all ease-in-out 0.2s;
  }
}

@media screen and (max-width: 1600px) {
  .header__nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .header {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .nav__links.opening {
    width: 95%;
    right: 0%;
    transition: all ease-in-out 0.2s;
  }
}