@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content:center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 10;
  /* background-color: #f8fcff; */
  background-color: rgba(255, 255, 255, 0.99);
  
  padding: 5px 40px;
  /* margin-bottom: 15px; */
  box-sizing: border-box;
  border-bottom: 2px solid #009bf6;
  /* position:sticky;
  top: 0; */
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.logoContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
    cursor: pointer;
  width: fit-content;
  height: 100%;
}

.logoContainer h2 {
  color: #00a8f3;
  font-weight: 500;
  font-size: 1.7rem;
  font-family: 'Lobster Two', cursive;
  margin-left: -3px;
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6)); */
}

.logoContainer img {
  width: 40px;
  object-fit: contain;
  filter: drop-shadow(1px 1px 1px rgba(90, 90, 60, 0.9));
}

.header__button {
  display: none;
}

.header__nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: auto;
  padding-right: 60px;
}

.gap {
  width: 150px;
  height: 100%;
  -webkit-order: 99;
  order: 99;
  display: none;
}

.split {
  width: 10%;
  margin: auto;
  display: none;
}

.nav__links {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  /* gap: 10px; */
  margin: auto;
  margin-top: 0;
}

.nav__linksItem {
  text-align: center;
  list-style: none;
  cursor: pointer;
  width: 85px;
  height: 40px;
  padding: 5px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}
.nav__linksItem__link{
  transition: color ease-in-out 0.2s;
  color: rgb(143, 143, 143);
  text-decoration: none;
  text-transform: capitalize;
}
.nav__linksItem__link li *{
  font-size: 2rem;
}
/* .nav__linksItem > a:hover,
.nav__linksItem span:hover {
  color: grey;
} */

.nav__linksItem:hover {
  background-color: #f0f2f5;
}

.nav__linksItem:hover .tooltip{
  visibility:visible;
}

.tooltip{
  position: absolute;
  color: #fff;
  background-color: rgb(45, 45, 45);
  border-radius: 8px;
  padding: 2px 10px;
  margin-top: 50px;
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
    filter: drop-shadow(1px 2px 2px #000000);
  visibility: hidden;
  z-index: 10;
}



.tooltip p{
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Poppins";
}
/* If highlights the linkk based on page visited */
/* .nav__linksItem.active{
} */
.nav__linksItem.active{
  color: #009bf6;
}

.headerMenu__iconActive{
  display: none;
}

.nav__linksItem.active .headerMenu__iconActive{
  display: inline;
}

.nav__linksItem.active .headerMenu__icon{
  display: none;
}


.header__user {
  width: fit-content;
}

.header__userButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 8px 15px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #009bf6;
  transition: all ease-in 0.1s;
  color: #ffff;
  -webkit-filter:drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.header__userButton:hover {
  background-color: #27b0ff;
}

.header__userButton.userLoggedIn {
  border-radius: 50%;
  padding: 8px;
  font-size: 1rem;
  overflow: hidden;
  max-width: 42px;
  max-height: 42px;
  border: 1px solid #009bf6;
  -webkit-filter:none;
  filter: none;
}

.header__userButton.userLoggedIn img {
  width: 100%;
  object-fit: contain;
}

.header__userButton.userLoggedIn.userPicture {
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    margin-right: auto;
    width: 120px !important;
    box-sizing: border-box;
    margin-top: 0px;
    padding: 10px;
  }

  .header {
    position: relative;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .header__button {
    display: block;
  }

  .header__button > .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }

  .header__nav {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav__links {
    position: absolute;
    top: 80px;
    left: -110%;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-height: 80vh;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    gap: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.4s;
    overflow-y: auto;
    text-align: center;
  }

  .nav__linksItem {
    font-size: 1.4rem;
    padding: 14px;
  }

  .nav__links.opening {
    left: 0%;
    max-width: 450px;
    transition: all ease-in-out 0.2s;
  }
}
