.cropImg {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

.cropper{
  flex-flow: column wrap;
  max-width: 50%;
  max-height: 80%;
  object-fit:scale-down;
}

.cropImg h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: normal;
  color: black;
  font-family: "Poiret One";
}

.cropImg div:last-child {
  margin: auto;
  width: fit-content;
  display: flex;
  gap: 20px;
}

.buttons > button  {
  transition: all ease-in-out 0.2s;
  padding: 15px 25px 15px;
  background: #03a9f4;
  height: 32px;
  color: #fff;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 1.2em;
  border-radius: 3px;
  width: fit-content;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}

.buttons > button:hover{
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 7px rgba(255, 255, 255, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background: #03a9f4;
  border-radius: 1px;
}

.ReactCrop {
  flex: 1;
  position: relative;
  left: 50%;
}

.ReactCrop > div {
  width: fit-content;
  height: 100%;
}

.ReactCrop__image {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
