.chats {
  display: flex;
  height: 95vh;
  width: 96vw;
  overflow: hidden;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chats > .chats__sidebar {
  flex: 0.25;
  height: 100%;
  color: #fff;
  padding: 10px;
  position: relative;
  background:
  rgba( 0, 0, 0, 0.30 );
  box-shadow:
  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:
  blur( 2.5px );
  -webkit-backdrop-filter:
  blur( 2.5px );
  border-radius:
  10px;
  overflow-y: hidden;
}

.chats > .chats__sidebar > .chats__sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
  max-width: 80%;
  margin-left: 10%;
  border-bottom: 2px solid white;
  padding-bottom: 2vh;
}

.chats > .chats__sidebar > .chats__sidebarHeader > .title {
  font-weight: 300;
  font-size: 2.2em;
}

.chats > .chats__sidebar > .chats__sidebarHeader > .icon__container {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  padding-left: 8px;
  border-radius: 2px;
  height: 25px;
  width: 25px;
}

.chats > .chats__sidebar > .chats__sidebarHeader > .icon__container > * > .MuiSvgIcon-root {
  color: gray;
  margin-top: 5px;
  font-size: 1.5em;
}

.chats > .chats__sidebar > .chats__sidebarBody {
  display:flex;
  flex-direction: column;
  width: 85%;
  margin-left: 7.5%;
}

.chats > .chats__sidebar > .chats__sidebarBody > .search__container {
  display: flex;
  background: #fff;
  padding: 5px;
  color: black;
  width:90%;
  align-self: center;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.chats > .chats__sidebar > .chats__sidebarBody > .search__container > .search__input {
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  padding: 3px;
  font-size: 1.4em;
  display: flex;
  width: 100%
}

.chats > .chats__sidebar > .chats__sidebarBody > .search__container > .MuiSvgIcon-root {
  font-size: 2.2em;
}

.chats > .chats__sidebar > .chats__sidebarBody > .contactSection {
  flex: 1;
  margin-top: 15px;
  width: 87%;
  margin-left: 5%;
}

.chats > .chats__sidebar > .chats__sidebarFooter {
  position: absolute;
  bottom: 20px;
  display: flex;
  padding-top: 20px;
  justify-content: left;
  width: 80%;
  margin-left: 10%;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.chats > .chats__sidebar > .chats__sidebarFooter > .title {
  flex: 1;
}

.chats > .chats__sidebar > .chats__sidebarFooter > .MuiSvgIcon-root {
  font-size: 1.4em;
  margin-left: 10px;
}

.chats > .chats__main {
  flex: 1;
  margin-left: 10px;
  height: 100%;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background:
  rgba( 0, 0, 0, 0.30 );
  box-shadow:
  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:
  blur( 2.5px );
  -webkit-backdrop-filter:
  blur( 2.5px );
  border-radius:
  10px;
  overflow-y: hidden;
}

.chats > .chats__main > .chats__mainHeader {
  display: flex;
  justify-content: space-between;
  position:relative;
  margin-top: 4vh;
  width: 96%;
  max-width:96%;
  margin-left: 2%;
  padding-bottom: 0px;
  
}

.chats > .chats__main > .chats__mainHeader::after{
  position: absolute;
  content: "";
  bottom: -10px;
  height: 2px;
  width: 100%;
  background: #ffff;
}
.chats > .chats__main > .chats__mainHeader > .right {
  font-size: 1.6em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-align: right;
  
}
.chats > .chats__main > .chats__mainHeader > .left {
  flex: 1;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: left;
}
.chats > .chats__main > .chats__mainHeader > .left > .name {
  font-size: 2.2em;
  font-size: 300;
  text-align: left;
  align-self: left;
}
.chats > .chats__main > .chats__mainHeader > .left > .iconContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: gray;
  display: flex;
  align-items:center;
  justify-content:center;
  margin-right: 5px;
}
.chats > .chats__main > .chats__mainHeader > .left > .iconContainer > * {
  font-size:3em ;
}
.chats > .chats__main > .chats__mainBody {
  flex: 1;
  width: 100% !important;
  overflow: auto;
}

.chats > .chats__main > .chats__mainFooter {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.chats > .chats__main > .chats__mainFooter > form {
  width: 100%;
  display: flex;
  align-items: center;
}

.chats > .chats__main > .chats__mainFooter > form > * {
  margin: 3px 5px;
  font-size: 1.4rem;
}

.chats > .chats__main > .chats__mainFooter > form > .MuiSvgIcon-root {
  font-size: 1.6rem;
}

.chats > .chats__main > .chats__mainFooter > form > .sendMsgInput {
  flex: 1;
  font-size: 1rem;
  padding: 2.5px;
  padding-left: 4px;
  border-radius: 10px;
  outline-width: 0;
}

.chats > .chats__main > .chats__mainFooter > form > button {
  background: transparent;
  border: none;
  display: grid;
  place-items: center;
  outline-width: 0;
}

.chats > .chats__main > .chats__mainFooter > form > button > * {
  color: white;
}

@media screen and (max-width: 850px){
  .chats {
    display: flex;
    height: 95%;
  }
  
  .chats > .chats__sidebar {
    flex: 0.25;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: relative;
  }
  
  .chats > .chats__sidebar > .chats__sidebarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .chats > .chats__sidebar > .chats__sidebarHeader > .title {
    font-weight: 600;
  }
  
  .chats > .chats__sidebar > .chats__sidebarHeader > .icon__container {
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    padding-left: 8px;
    box-shadow: .3px .3px 1.3px 0 rgba(0, 0, 0, 0.6), -.3px -.3px 1.3px 0 rgba(0, 0, 0, 0.6);
  }
  
  .chats > .chats__sidebar > .chats__sidebarHeader > .icon__container > * > .MuiSvgIcon-root {
    color: gray;
    margin-top: 2px;
  }
  
  .chats > .chats__sidebar > .chats__sidebarBody {
    display: flex;
    flex-direction: column;
  }
  
  .chats > .chats__sidebar > .chats__sidebarBody > .search__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 3px 8px;
    color: gray;
    width: 90%;
    align-self: center;
  }
  
  .chats > .chats__sidebar > .chats__sidebarBody > .search__container > .search__input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 3px;
    font-size: .8rem;
  }
  
  .chats > .chats__sidebar > .chats__sidebarBody > .search__container > .MuiSvgIcon-root {
    font-size: .8rem;
  }
  
  .chats > .chats__sidebar > .chats__sidebarBody > .contactSection {
    flex: 1 !important;
    margin-top: 15px;
    width: 90%;
    align-self: center;
  }
  
  .chats > .chats__sidebar > .chats__sidebarFooter {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
  }
  
  .chats > .chats__sidebar > .chats__sidebarFooter > .title {
    flex: 1;
    font-size: .8rem;
  }
  
  .chats > .chats__sidebar > .chats__sidebarFooter > .MuiSvgIcon-root {
    font-size: .9rem;
  }
  
  .chats > .chats__main {
    flex: 1;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  .chats > .chats__main > .chats__mainHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
  }
  
  .chats > .chats__main > .chats__mainHeader::after{
    position: absolute;
    content: "";
    bottom: -10px;
    height: 2px;
    width: 100%;
    background: lightgray;
  }
  
  .chats > .chats__main > .chats__mainHeader > .left {
    flex: 1;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  
  .chats > .chats__main > .chats__mainHeader > .left > .iconContainer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  .chats > .chats__main > .chats__mainBody {
    flex: 1;
    width: 100% !important;
    overflow: auto;
  }
  
  .chats > .chats__main > .chats__mainFooter {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .chats > .chats__main > .chats__mainFooter > form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .chats > .chats__main > .chats__mainFooter > form > * {
    margin: 3px 5px;
    font-size: 1.4rem;
  }
  
  .chats > .chats__main > .chats__mainFooter > form > .MuiSvgIcon-root {
    font-size: 1.6rem;
  }
  
  .chats > .chats__main > .chats__mainFooter > form > .sendMsgInput {
    flex: 1;
    font-size: 1rem;
    padding: 2.5px;
    padding-left: 4px;
    border-radius: 10px;
    outline-width: 0;
  }
  
  .chats > .chats__main > .chats__mainFooter > form > button {
    background: transparent;
    border: none;
    display: grid;
    place-items: center;
    outline-width: 0;
  }
  
  .chats > .chats__main > .chats__mainFooter > form > button > * {
    color: white;
  }
    
}