.message {
  width: fit-content;
  max-width: 75%;
  height: auto;
  margin-bottom: 10px;
}

.rec {
  margin-left: auto;
}

.message > .message__text {
  padding: 8px;
  background: pink;
  border-radius: 10px;
  width: fit-content;
}

.message > .message__time {
  font-weight: bold;
}

.rec > .message__text {
  background: rgb(29, 161, 242);
}

.rec > .message__time {
  margin-left: auto;
}
