.message {
  width: fit-content;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.rec {
  margin-left: auto;
}

.message > .message__text {
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
}

.message > .message__time {
  font-weight: bold;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.rec > .message__text {
  font-size: 1.6em;
  font-weight: 300;
  margin-right: 20px;
  background:
  rgba( 29, 161, 242, 0.55 );
  box-shadow:
  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter:
  blur( 11.0px );
  -webkit-backdrop-filter:
  blur( 11.0px );
  border-radius:
  10px;
}

.rec > .message__time {
  margin-left: auto;
  font-size: 1.4em;
  font-weight: 300;

}
