.message {
  width: fit-content;
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rec {
  margin-left: auto;
  align-items: flex-end;
}

.message > .message__text {
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  background: #e0115f;
}

.message > .message__time {
  font-weight: bold !important;
  width: fit-content;
  font-size: 0.8rem;
  margin-left: 5px;
}

.rec > .message__text {
  margin-left: auto !important;
  border-radius: 10px;
  background: rgba(29, 161, 242, 0.55) !important;
}

.rec > .message__time {
  margin-left: auto;
  font-size: 0.78rem;
  margin-right: 5px;
}

@media only screen and (max-width: 850px) {
  .rec > .message__text {
    font-size: 1em;
    background: rgba(29, 161, 242, 0.55);
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
  }
  .rec > .message__time {
    margin-left: auto;
    font-size: 0.8em;
    font-weight: 300;
  }
}
