.uploadCollection {
  overflow: hidden;
  flex: 1;
  display: flex;
  padding: 20px;
  padding-top: 0;
  width: 90%;
  margin: auto;
  margin-top: 12px;
  overflow-y: auto;
  position: relative;
}

.upload_section {
  width: 35%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 5px;
  padding: 20px;
  height: fit-content;
  /* box-sizing: border-box; */
}

.upload {
  padding: 10px;
  padding-top: 0;
  /* gap:15px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.upload__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Poiret One";
  color: #fff;
  filter: drop-shadow(2px 4px 8px #585858);
}

.upload form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: white;
  margin-top: 5px;
}

.upload_separator {
  width: 85%;
  margin: auto;
}
/*begigning book styling*/
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box {
  display: block;
  width: 45%;
  max-width: 135px;
  height: 193px;
  padding-bottom: 0px;
  margin-top: 0;
  background-color: rgb(21, 161, 242);
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  border: #03a9f4 solid 1px;
}

.box:hover {
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}

.upload-options {
  position: relative;
  height: 25px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.image-upload {
  width: 0.1px;
  height: 0.1px;
}

.js--image-preview {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.thumb {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  font-size: 4rem;
  color: black;
}

/*end of book styling*/

.bullets {
  color: white;
  width: 100%;
  margin: auto;
}

.tilesWrap {
  text-align: left;
  align-content: flex-start;
  flex-flow: column wrap;
  text-align: left;
  padding-left: 15%;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .upload_section {
    width: 100%;
  }
  .bullets {
    margin-top: 50px;
  }
  .tilesWrap {
    padding-left: 5%;
  }

  .uploadCollection {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 900px) and (min-width: 550px) {
  .upload_section {
    width: 70%;
  }
  .uploadCollection {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1300px) and (min-width: 900px) {
  .upload_section {
    width: 40%;
  }
}
