.collection {
  flex: 1;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  overflow-y: auto;
}

.collection__header {
  color: #fff;

  p {
    font-size: 1.8rem;
    text-align: center;
    font-family: "Poiret One";
  }

  & > &Separator {
    width: 65%;
    margin: 5px auto 20px auto;
  }
}

.collection__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.collection__footer {
  & > button {
    padding: 15px 30px;
    background: rgb(21, 161, 242);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      transition: all ease-in-out 0.2s;
      background: #fff;
      color: #000;
    }
  }
}
