.editProfile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 301;
  place-items: center;
  transition: all ease-in-out 0.25s;
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

.editProfile__overlay.active {
  opacity: 1;
  display: grid;
}

.editProfile {
  width: 100%;
  max-width: 670px;
  height: 100%;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: #000;
  position: relative;
}

.editProfile.save_discard_changes::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.editProfile.save_discard_changes .editProfile__saveChanges {
  opacity: 1;
  bottom: 0;
}

.editProfile__overlay > .editProfile {
  opacity: 0;
}

.editProfile__overlay.active > .editProfile {
  transition: all ease-in 0.8s;
  opacity: 1;
}

.editProfile > * {
  padding: 20px;
  box-sizing: border-box;
}

.editProfile__header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: -1px -1px -1px rgba(0, 0, 0, 0.2);
}

.editProfile__header h2 {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 200;
  color: #009bf6;
  margin-bottom: 4px;

}

.editProfile__header .icon-container {
  color: #009bf6;
  padding: 10px;
  border-radius: 50%;
  background-color: #ececec;
  display: grid;
  cursor: pointer;
  place-items: center;
  /* box-shadow: 1px 1px 0.5px 0 rgba(0, 0, 0, 0.2); */
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
  filter: drop-shadow(1px 2px 2px #000000);
}

.editProfile__header .icon-container:hover {
  background-color: #f6f6f6;
}

/* The main will be here */
.editProfile__main {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 30px;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  gap: 20px;
}

.editProfile__main::-webkit-scrollbar {
  width: 8px;
  display: initial;
}

.editProfile__main::-webkit-scrollbar-thumb {
  margin-right: 3px;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
}

.editProfile__mainForm {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editProfile__mainForm label {
  color: #575757;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.editProfile__mainForm > div p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  margin-top: 2px;
  color: rgb(141, 141, 141);
}

.editProfile__mainFormInput {
  width: calc(100% - 12px);
  font-size: 0.98rem;
  font-weight: 300;
  padding: 5px 8px;
  height: 25px;
  border: 2px solid rgb(161, 161, 161);
  transition: all ease-in 0.25s;
  border-radius: 6px;
 }

.editProfile__mainFormInput:hover {
  transition: color ease-in 0.2s;
  border-radius: 2px;
  border-color: rgb(125, 125, 125);
}

.editProfile__mainFormInput:focus {
  transition: color ease-in-out 0.2s;
  border-radius: 2px;
  border: 2px solid #009bf6;
  outline: none;
}

.editProfile__mainImage {
  display: flex;
  flex-direction: column;
}

.editProfile__mainImage > span {
  color: #575757;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.editProfile__mainImage .image-container {
  height: 192px;
  width: 192px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 1.4px 1.4px 0.8px 0 rgba(0, 0, 0, 0.15);
}

.editProfile__mainImage .image-container img {
  height: 100%;
  object-fit: contain;
}

.editProfile__mainImage button {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.9rem;
}

.editProfile__mainImage button:first-of-type {
  align-self: flex-start;
  text-align: center;
  background-color: transparent;
  padding: 8px 20px;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  border: 1px solid rgb(161, 161, 161);
}

.editProfile__mainImage button:first-of-type:hover {
  background-color: rgb(161, 161, 161);
  border-radius: 2px;
  color: white;
}

.editProfile__mainImage button:last-of-type {
  border: none;
  background-color: unset;
  color: red;
  cursor: pointer;
}

.editProfile__mainImage button:last-of-type:hover {
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.7);
}

/* The footer here */
.editProfile__footer {
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid #e0e0e0;
}

.editProfile__footer > div,
.editProfile__saveChanges > div {
  width: fit-content;
  margin-left: auto;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.editProfile__footer > div > button,
.editProfile__saveChanges > div > button {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  gap: 5px;
  font-size: 0.9rem;
  transition: all ease-in 0.2s;
}

.editProfile__footer > div > :last-child {
  color: #fff;
  background-color: rgb(0, 155, 246);
}

.editProfile__footer > div > :last-child:hover {
  background-color: rgba(0, 155, 246, 0.8);
}

.editProfile__footer > div > :first-child,
.editProfile__saveChanges > div > :first-child {
  font-weight: 300;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid rgb(161, 161, 161);
}

.editProfile__footer > div > :first-child:hover,
.editProfile__saveChanges > div > :first-child:hover {
  background-color: rgb(240, 240, 240);
}

.editProfile__saveChanges {
  padding: 15px 20px;
  position: absolute;
  bottom: -90px;
  left: 0;
  z-index: 2;
  width: 100%;
  opacity: 0;
  background-color: rgb(252, 252, 252);
  border-top: 1px solid #e0e0e0;
  transition: all ease-in 0.2s;
}

.editProfile__saveChanges p {
  font-weight: 300;
  font-size: 0.95rem;
  margin-bottom: 8px;
  color: rgb(80, 80, 80);
}

.editProfile__saveChanges > div > :last-child {
  color: #fff;
  background-color: #d01c54;
}

.editProfile__saveChanges > div > :last-child:hover {
  background-color: rgba(208, 28, 84, 0.85);
}

@media screen and (min-width: 500px) {
  .editProfile {
    border-radius: 10px;
    height: 90%;
    max-height: 900px;
  }

  .editProfile__main {
    flex-direction: initial;
    justify-content: space-between;
  }

  .editProfile__mainImage button {
    width: 100%;
  }
}
