.profile {
  width: 100%;
  height: calc(100% - 58px);
  position: absolute;
  top: 58px;
  right: -450px;
  background-color: #fafcfd;
  margin: 0;
  z-index: 100;
  color: #000;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 30px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border-left: 2px solid #009bf6;
  border-top: 2px solid #009bf6;
  transition: all ease-in 0.1s;
  overflow-y: scroll !important;
  display: none;
}

.profile.active {
  display: flex;
  right: 0;
}

.profile__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile__header h2 {
  flex: 1;
  color: #009bf6;
}

.profile__header .icon-container {
  color: #009bf6;
  padding: 10px;
  border-radius: 50%;
  background-color: #efefef;
  display: grid;
  cursor: pointer;
  place-items: center;
  /* box-shadow: 1px 1px 0.5px 0 rgba(0, 0, 0, 0.2); */
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
  filter: drop-shadow(1px 2px 2px #000000);
}

.profile__header .icon-container:hover {
  background-color: #f6f6f6;
}

.profile__main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.profile__imageContainer {
  width: 55%;
  aspect-ratio: 1;
  border-radius: 8px;
  align-self: center;
  margin: 0 auto;
  overflow: hidden;
  /* box-shadow: 1.4px 1.4px 0.8px 0 rgba(0, 0, 0, 0.3); */
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
  filter: drop-shadow(1px 2px 2px #000000);
}

.profile__image {
  width: 100%;
  object-fit: contain;
}

.profile__main header > :last-child {
  margin: 0 auto;
  margin-top: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__main header > :last-child h3 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(39, 39, 39);
  margin-bottom: 4px;
}

.profile__main header > :last-child p {
  font-size: 0.98rem;
  margin-bottom: 12px;
  text-align: center;
  color: rgb(116, 116, 116);
}

.profile__main header > :last-child button {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 0.98rem;
  font-weight: 300;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 5px;
  background: #009bf6;
  transition: all ease-in 0.1s;
  color: #ffff;
  -webkit-filter: drop-shadow(0px 1px 1px #5d5d5d2d);
  filter: drop-shadow(0px 1px 1px #5d5d5d2d);
}

.profile__main header > :last-child button:hover {
  background: #1faafb;
}

.profile__main main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile__main main div h4 {
  font-size: 0.88rem;
  color: #8f8f8f;
}

.profile__main main div p {
  font-size: 0.97rem;
  font-weight: 400;
}

.profile__footer {
  margin-top: 35px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.profile__footerButton {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  font-size: 0.98rem;
  font-weight: 300;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 1px 1px #5d5d5d2d);
  filter: drop-shadow(0px 1px 1px #5d5d5d2d);
  background: #696969;
  color: white;
  /* border: 1px solid red; */
  gap: 5px;
  transition: all ease-in 0.25s;
  margin-bottom: 20px;
}

.profile__footerButton:hover {
  background: rgb( 120, 120, 120);
  /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.27);
  outline-color: rgba(255, 255, 255, 0) !important;
  outline-offset: 15px !important; */
}
