.navigation {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-top: 0;
  height: 100%;
}

.nav_input{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  max-width: 350px;
  height: 100%;
  background: rgba( 0, 0, 0, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  margin-right: 10px;
}

.nav_input > p {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poiret One";
  margin-top: 15px;
}

.sepatator{
    width: 85%;
    margin-top: 0;

}
.navigation__form {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white ;
  text-align: left;
  font-weight: lighter;
}

.navigation__form > label {
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;

}

.navigation__form > label > .formInput {
  transition: all ease-in-out 0.2s;
  background: white;
  width: 100%;
  max-height: 25px;
  outline: none;
  margin: auto;
  border: white solid 1px;
  border-radius: 3px;
  font-size: 1.2rem;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation__form > label > .formInput:focus {
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}

.nav_results{
  width: 85%;
  height: 100%;
  background: rgba( 0, 0, 0, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 10px;
  margin-right: 10px;
}
