.navigation {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-top: 0;
  height: 100%;
}

.nav_input {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  max-width: 350px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  margin-right: 10px;
}

.nav_input > p {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poiret One";
  margin-top: 15px;
}

.sepatator {
  width: 85%;
  margin-top: 0;
}
.navigation__form {
  width: 80%;
  height: fit-content;
  max-height: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  text-align: left;
  font-weight: lighter;
}

.nav_results {
  width: 85%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  margin-right: 10px;
}

.frame {
  margin: auto;
  margin-top: 3%;
  width: 95%;
  height: 90%;
  border-radius: 5px;
  border: 3px solid rgb(20, 165, 248);
}
