@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.login {
  box-sizing: border-box;
  padding: 15px;
  width: 55%;
  max-height: 95%;
  min-width: 850px;
  overflow: auto;
  color: #fff;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: rgba(0, 0, 15, 0.5);
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(0,0,0, 0.1), 0 0 10px rgba(255, 255, 255, 0.3); */
}

.login__header {
  display: grid;
  place-items: center;
}

.login__headerLogo {
  width: 190px;
  object-fit: contain;
  margin: auto;
  margin-bottom: 40px;
  filter: drop-shadow(2px 4px 4px #000000);
}

.welcome__text {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  /* font-family: 'Amatic SC', cursive;   */
  font-style: normal;
  font-family: "Poiret One";
}

.separator {
  border-top: 1px solid white;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

.separator_footer {
  border-top: 1px solid white;
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.login__main {
  width: 100%;
}

.login__main > .title {
  font-size: 1.4rem;
  font-weight: lighter;
  margin-bottom: 60px;
  color: white;
  text-align: center;
  font-family: "Lobster Two";
  display: none;
}

.login__main > form {
  width: 100%;
  justify-content: center;
  min-width: 200px;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.login__main > form > .form__btns {
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: lighter;
  justify-content: center;
  flex-direction: column;
}

.login__main > form > .form__btns > .links > * {
  color: #fff;
  font-weight: lighter;
  padding: 2px 7px;
}

.login__main > form > .form__btns > .links > a:hover {
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  color: #03a9f4;
}

.login__main > form > .form__btns > .links {
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.2rem;
  margin-top: 5px;
  outline: none;
}
.login__footer {
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  font-style: normal;
}

@media only screen and (max-width: 1400px) and (min-width: 550px) {
  .login {
    padding: 15px;
    width: 75%;
    min-width: 350px;
  }

  .separator_footer {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 550px) {
  .login {
    width: 90%;
    min-width: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 20px;
  }
  .login__headerLogo {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .separator {
    margin-bottom: 30px;
    width: 85%;
  }
  .login__main > .title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .login__main > form > .form__btns {
    margin-top: 20px;
  }
  .login__main > form > .form__btns > .links {
    margin-top: 20px;
  }
  .separator_footer {
    width: 70%;
    margin-top: 40px;
  }
}
