.uploadCollection {
  overflow: hidden;
  display: flex;
  padding: 20px;
  padding-top: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 12px;
}

.upload_section {
  width: 35%;
  background: rgba( 0, 0, 0, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  border-radius: 5px;
  padding-right: 10px;
  padding-top: 20px;
}

.bullets{
  color: white;
  width: 100%;
  margin: auto;
}

.tilesWrap{
  text-align: left;
  align-content: flex-start;
  flex-flow: column wrap;
  text-align: left;
  padding-left: 15%;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .upload_section {
    width: 100%;
  }
  .bullets{
    margin-top:50px;
  }
  .tilesWrap{
    padding-left: 5%;
  }

  .uploadCollection {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 900px) and (min-width:550px) {
  .upload_section {
    width: 70%;
  }
  .uploadCollection {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1300px) and (min-width:900px){
  .upload_section {
    width: 40%;
  }



}
