.uploadCollection {
  overflow: hidden;
  display: flex;
  padding: 20px;
  padding-top: 0;
  width: 90%;
  margin: auto;
  margin-top: 12px;
}

.upload_section {
  width: 25%;
}

@media screen and (max-width: 550px) {
  .upload_section {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width:550px) {
  .upload_section {
    width: 70%;
  }
}

@media screen and (max-width: 1300px) and (min-width:900px){
  .upload_section {
    width: 40%;
  }
}