@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");

.home {
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  padding: 15px;
  padding-top: 0;
  background: url("../../assets/login_image.jpg") repeat-y;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

.home__logo {
  display: none;
}

.home__subtitle {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #003f64;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 40px;
  margin-bottom: 15px;
}

.home__searchContainer {
  margin: 0 auto;
  margin-top: 3px;
  width: 55%;
  max-width: 630px;
  height: 31px;
  padding: 3px;
  background: #009bf6;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 15px;
  transition: all ease-in-out 0.2s;
  -webkit-filter: drop-shadow(0px 1px 1px #5d5d5d2d);
  filter: drop-shadow(0px 1px 1px #5d5d5d2d);
}

.home__searchInput {
  flex: 1;
  outline: none;
  margin-right: 2px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: #009bf6 solid 1px;
  outline: none;
  border-radius: 14px;
  font-size: 1rem;
  padding-left: 8px;
}

.home__searchInput:focus {
  transition: all ease-in-out 0.5s;
  border: #3db8ff solid 1px;
}
.home__searchContainer:focus-within {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.home__searchContainer > button {
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  display: grid;
  place-items: center;
  outline: none;
  cursor: pointer;
}
.home__searchContainer > button:hover {
  font-size: 2.3;
  background-color: #18a7fa;
  border-radius: 5px;
}

.home__searchContainer > button > .MuiSvgIcon-root {
  font-size: 2rem;
}

.home__menu {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.home__body {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  width: 100%;
}

.top__row {
  display: flex;
  flex-direction: row;
  overflow: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin: auto;
  align-items: center;
}

.bottom__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: wrap;
  width: 100%;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 15px;
  align-items: center;
  height: fit-content;
}

.bottom__row > * + * {
  margin-left: 15px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.card__header .card__header__icon {
  color: #000;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  border-radius: 50%;
  padding: 3px;
  transition: ease-in-out 0.1s;
  background-color: #fff;
}

.card__header .card__header__icon:hover {
  color: rgb(0, 185, 0);
  cursor: pointer;
}

.caption {
  font-weight: 300;
  font-size: 1.35rem;
  font-family: "Poppins";
  width: 95%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #000;
}
.recent__uploads .caption,
.book__requests .caption {
  text-align: left;
}

.home__searchResults {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.home__searchResults > .heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-bottom: 0;
  width: 60%;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
}

.home__searchResults > .heading > h3 {
  text-align: left;
  display: none;
}

.home__searchResults .results {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.heading > .btnBack {
  display: flex;
  justify-content: center;
  place-items: center;
  color: #000;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
  -webkit-filter: drop-shadow(1px 2px 2px #000000);
  filter: drop-shadow(1px 2px 2px #000000);
  top: 15px;
}

.heading > .btnBack:hover {
  color: #fa3218;
  border-radius: 10px;
  box-shadow: none;
}

:root {
  --neon-text-color: #008799;
}

@media screen and (max-width: 1800px) {
  .home__body {
    width: 98%;
  }
}

@media screen and (max-width: 800px) {
  .home__searchSection {
    margin-top: -100px;
  }
  .home__searchContainer {
    width: 95%;
    max-width: 600px;
  }
  .home__header {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
    margin-top: 15px;
  }

  .home__body {
    width: 100%;
  }

  .home__subtitle {
    display: none;
  }

  .home__avatar {
    width: 50px;
    aspect-ratio: 1;
    height: unset;
    padding: 4px;
  }

  .home__avatarName {
    display: none;
  }

  .home__searchResults > .heading {
    width: 100%;
  }
  .home__body {
    margin-top: 15px;
  }
  .home__body .bottom__row {
    flex-direction: column;
  }

  .bottom__row > * + * {
    margin-left: 0;
    margin-top: 15px;
  }
}

.backToTop {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  background: #fff;
  margin-left: 48%;
  margin-top: 40px;
  border-radius: 50%;
  padding: 4px;
  padding-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  display: none;
}

.backToTop * {
  font-size: 1.5rem;
  color: #000;
}
.backToTop:visited * {
  color: #000;
}
.backToTop:hover {
  background-color: #fafafa;
  text-decoration: none;
}
.backToTop:hover * {
  color: #009bf6;
}

@media screen and (max-width: 800px) {
  .backToTop {
    display: inline;
    margin-bottom: 10px;
  }

  .home {
    padding-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .home__searchContainer {
    margin-top: 15px;
    max-width: 400px;
  }

  .home__searchInput {
    max-width: 85%;
  }

  .home__body {
    margin-top: 15px;
  }
}
