.selectInput__label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.07rem;
  cursor: pointer;
  color: #000;
  font-family: "Poppins";
  padding-bottom: 10px;
}

.selectInput {
  width: 100%;
  margin-bottom: 5px;
  background-color: #fff;
  font-size: 1.07rem;
  padding: 10px;
  border-radius: 4px;
  align-items: center;
  border: 2px solid rgb(206, 206, 206);
}

.selectInput:focus {
  border: #03a9f4 solid 2px;
  transition: all ease-in-out 0.2s;
}

.selectInput option {
  width: 100%;
  padding: 10px;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
