.help {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  overflow: hidden;
  background: url('../../assets/help_image.jpg') no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.help__header{
  display: flex;
  justify-content: center;
}
.help__body{
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
.help_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  max-width: 350px;
  min-width: 300px;
  height: 100%;
  align-items: center;
  margin-top: 20px;
  border-right: 1px solid rgb(206, 206, 206)
}


.main_header {
  font-size: 1.5rem;
  color: #000;
  font-family: "Poppins";
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(206, 206, 206);
  width: 95%;
}

.sepatator {
  width: 85%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.help_side .buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 50%;
  margin: auto;
  margin-top: 0;
  justify-content: center; 
  place-items: center; 
}

.help_side .buttons .button{
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  gap: 5px;
  font-size: 0.9rem;
  transition: all ease-in-out 0.1s;
  min-width: 160px;
}

.help_side .buttons .button:hover{
  background-color: rgba(0, 155, 246, 0.8);
  box-shadow: none;
}
.help_main {
  width: 85%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  backdrop-filter: blur(3px);
}

.main_content {
  width: 87%;
  height: 88%;
  margin: auto;
  margin-top: 20px;
  color: #000;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_content p {
  white-space: pre-wrap;
}
.btnHeader{
  display: none;
}

@media only screen and (max-width: 850px) {
  .help {
    background-size: cover;
    height: 100%;
    min-height: 90vh;
  }
  .help_side {
    display: none;
    flex-direction: column;
    align-content: center;
    width: 100%;
    border-right: none;
    z-index: 5;
  }

  .help_main {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
  }
  .btnHeader{
    display: inline;
    width: 30px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(51, 54, 54);
    position: absolute;
    right: 25px;
  }

  .help_side.opening{
    display: inline;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    padding-bottom: 10px; 
    box-shadow: 0 1px 6px rgb(32 33 36 / 50%);
    padding-top: 10px;
    margin-top: 10px;
  } 

}
