.help {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-top: 0;
  height: 100%;
  overflow: hidden;
}

.help_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  max-width: 350px;
  min-width: 300px;
  height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  margin-right: 10px;
}

.help_side > p {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poiret One";
  margin-top: 15px;
}
.main_header {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poiret One";
  margin-top: 15px;
  text-align: center;
}

.sepatator {
  width: 85%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  max-height: 50%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.help_main {
  width: 85%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  margin-right: 10px;
}

.main_content {
  width: 85%;
  height: 90%;
  margin: auto;
  margin-top: 20px;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_content p {
  white-space: pre-wrap;
}

@media only screen and (min-width: 450px) and (max-width: 850px) {
  .help {
    flex-direction: column;
    overflow-y: scroll;
  }

  .help_side {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
  }

  .help_main {
    width: 100%;
    margin-top: 10px;
  }

  @media only screen and (max-width: 550px) {
    .help_main {
      width: 100%;
      height: 90vh;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .help {
    flex-direction: column;
    overflow-y: scroll;
  }

  .help_side {
    width: 100%;
    max-width: none;
    align-content: center;
    height: fit-content;
  }

  .help_main {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
  }
}
