@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

.menuItem {
  padding: 10px;
  width: 200px;
  max-width: 280px;
  height: 200px;
  background: white;
  margin: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3),
    -2px -2px 3px 0 rgba(220, 220, 220, 0.6);
}

.menuItem:hover {
  transition: transform ease-out 0.2s;
  transform: scale(0.95);
}

.menuItem > .menuItem__icon > * {
  font-size: 3rem;
  color: rgb(81, 84, 85);
  padding-top: 10px;
  padding-bottom: 2px;
}

.menuItem > .menuItem__title {
  font-size: 1.3rem;
  font-weight: bolder;
  padding-top: 0;
}

.menuItem > .menuItem__subtitle {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}

@media screen and (max-width: 470px) {
  .menuItem {
    width: 70%;
    height: unset;
  }
}
