.navigation {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 15px;
  padding-top: 0;
  height: 100%;
  overflow-x: auto;
  gap: 20px;
}

.navigation__sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  width: 25%;
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 15px 10px;
  box-sizing: border-box;
}

.navigation__sidebarTitle {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Poiret One";
  font-weight: 300;
  margin-bottom: 10px;
}

.sepatator {
  width: 90%;
  margin-top: 0;
}

.navigation__sidebarForm {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 90% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 50%;
  margin: auto;
  margin-top: 20px;
  gap: 15px;
  color: white;
  text-align: left;
  font-weight: lighter;
}

.navigation__sidebarForm > :last-child {
  align-self: center;
}

.navigation__main {
  width: 85%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}

.navigation__mainFrame {
  flex: 1;
  margin: auto;
  margin-top: 0;
  width: 95%;
  border-radius: 5px;
  border: 3px solid rgb(20, 165, 248);
}

.navigation__mainHeader {
  color: #fff;
  width: 95%;
  margin: auto;
}

.navigation__mainHeader > h3 {
  font-size: 1.4rem;
  font-family: "Poiret One";
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.navigation__mainHeader > hr {
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}

@media only screen and (max-width: 850px) {
  .navigation {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .navigation__sidebar {
    width: 100%;
    max-width: none;
    -webkit-align-content: center;
    align-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 30px;
  }

  .navigation__sidebarForm {
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 70%;
    flex-wrap: nowrap;
    align-self: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: center;
    align-self: center;
  }

  .navigation__main {
    width: 100%;
    margin-top: 10px;
    height: 100vh !important;
  }

  @media only screen and (max-width: 560px) {
    .navigation__sidebarForm {
      width: 100%;
      flex-direction: column;
    }

    .navigation__main {
      height: 90vh;
    }
  }

  @media only screen and (max-width: 400px) {
    .navigation__sidebar {
      max-width: 100%;
    }

    .navigation__sidebarForm {
      width: 100%;
    }

    .navigation__main {
      height: 90vh;
    }
  }
}
