@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.menuItem {
  padding: 10px;
  width: 200px;
  max-width: 280px;
  height: 200px;
  background: rgb(250, 255, 255);
  margin: auto;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.3),
    -2px -2px 3px 0 rgba(0, 0, 0, 0.3);
}

.menuItem:hover {
  transition: transform ease-out 0.2s;
  transform: scale(0.95);
}

.menuItem > .menuItem__icon > * {
  font-size: 2.5rem;
  color: rgb(19,161,242);
  /* color: rgb(0, 5, 7); */
  padding-top: 10px;
  padding-bottom: 2px;
}

.menuItem > .menuItem__title {
  font-size: 1.3rem;
  font-weight: normal; 
  padding-top: 0;
  font-family: 'Lato', sans-serif;
}

.menuItem > .menuItem__subtitle {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .menuItem {
    width: 6
    0vw;
    height: 40vw;
  }
  .menuItem > .menuItem__title {
    font-size: 1.4rem;
    font-weight: normal; 
    padding-top: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .menuItem > .menuItem__subtitle {
    font-size: 1.1rem;
    text-align: center;
    font-weight: normal;
  }
  .menuItem > .menuItem__icon > * {
    font-size: 3rem;
  }
}
