.contact {
  width: 100%;
  padding: 14px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 80px !important;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all ease-in 0.2s;
  background-color: #f0eff3;
}

.contact.currentContact {
  border: 2px solid #42b2f3;
}

.contact:hover {
  transform: scale(0.98);
  border: 2px solid #009bf6;
}

.contact * {
  color: rgb(53, 53, 53);
  font-family: "Poppins", sans-serif;
}

.contact__iconContainer {
  width: 35px !important;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  height: fit-content;
  background-color: rgb(214, 214, 214);
}

.contact__icon {
  width: 100%;
  object-fit: contain;
}

.contact__body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact__name {
  font-weight: 600;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.contact__lastMsg {
  font-weight: 300;
  font-size: 0.95rem;
  color: rgb(168, 168, 168);
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.contact__lastMsgTime {
  align-self: flex-start;
  font-weight: 500;
  font-size: 0.75rem;
  font-style: oblique;
  font-variant-numeric: tabular-nums;
}
