.contact {
  width: 100%;
  padding: 14px;
  /* overflow: hidden; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  /* position: relative; */
  min-height: 70px !important;
  max-height: 70px !important;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all ease-in 0.1s;
  background-color: #f0eff3;
  border: 1px solid rgb(215, 215, 215);
}

.contact.currentContact {
  border: 2px solid #42b2f3;
}

.contact:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  border: 2px solid #009bf6;
}

.contact * {
  color: rgb(53, 53, 53);
  font-family: "Poppins", sans-serif;
}

.contact__iconContainer {
  width: 35px !important;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(214, 214, 214);
}

.contact__icon {
  width: 100%;
  object-fit: contain;
}

.contact__body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact__name {
  font-weight: 600;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.contact__lastMsg {
  font-weight: 300;
  font-size: 0.95rem;
  color: rgb(168, 168, 168);
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.contact__lastMsgTime {
  align-self: flex-start;
  font-weight: 500;
  font-size: 0.75rem;
  font-style: oblique;
  font-variant-numeric: tabular-nums;
}

.contact__menu {
  position: absolute;
  display: none;
  /* top: 50%;
  left: 70%; */
  z-index: 1000 !important;
  border-radius: 5px;
  background-color: #009bf6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.contact__menuButton {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.contact__menuButton:hover {
  background-color: #f0eff3;
}

.contact.contact__menuActive {
  z-index: 10;
}

.contact.contact__menuActive .contact__menu {
  display: block;
}
