.upload {
  padding: 15px;
  gap:15px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.upload__title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Poiret One";
  color: #fff;
  filter: drop-shadow(2px 4px 8px #585858);
}

.upload form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  color: white;
}


/*begigning book styling*/
.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}


.box {
  display: block;
  max-width: 125px;
  width: 125px;
  height: 168px;
  padding-bottom: 2px;
  margin-top: 0;
  background-color: rgb(21,161,242);
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
  border: #03a9f4 solid 1px;
  
}

.box:hover{
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}

.upload-options {
  position: relative;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}

.image-upload{
  width: 0.1px;  
  height: 0.1px;  
}



.js--image-preview {
  height: 145px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url('');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize(white, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

/*end of book styling*/


.upload form > label {
  text-align: left;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.upload form > label > input {
  transition: all ease-in-out 0.2s;
  background: white;
  width: 100%;
  height: 29px;
  max-height: 29px;
  outline: none;
  border: white solid 1px;
  border-radius: 3px;
  font-size: 1.2rem;
  padding-left: 7px;
  padding-top: 2px;
}

.upload form > label > input:focus {
  border: #03a9f4 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}
.upload form > .formSubmitBtn {
  transition: all ease-in-out 0.2s;
  padding-top: 10px;
  background: #03a9f4;
  text-align: center;
  height: 32px;
  color: #fff;
  text-transform: capitalize;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  border-radius: 3px;
  font: lighter 1.2rem var(--font);
}
.upload form > .formSubmitBtn:hover {
  background: #03a9f4;
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 7px rgba(255, 255, 255, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 1px;
}
