.chats__main {
  flex: 1;
  height: 99%;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}

.chats__mainHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 96%;
  margin: 5px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.chats__mainHeader > .right {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 2%;
  margin-top: 15px;
}

.chats__mainHeader > .left {
  display: flex;
  justify-content: left;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: normal;
}

.chats__mainHeader > .left > .name {
  font-size: 1.3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.chats__mainHeader > .left > .iconContainer {
  box-sizing: border-box;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: gray;
  display: grid;
  place-items: center;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  overflow: hidden;
}

.chats__mainHeader > .left > .iconContainer > * {
  font-size: 1.8rem;
}

.chats__mainHeader > .left > .iconContainer .iconContainer__image {
  height: 35px;
  object-fit: contain;
}

.chats__mainBody {
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 5px auto;
  margin-top: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0 20px;
  box-sizing: border-box;
}

.chats__mainFooter {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 94%;
  margin: 1% auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  position: relative;
}

.chats__mainFooter > form {
  width: 100%;
  display: flex;
  align-items: center;
}

.chats__mainFooter > form > * {
  margin: 0 5px;
}
.chats__mainFooter > form > .sendMsgInput {
  flex: 1;
  padding: 3px;
  padding-left: 4px;
  border-radius: 5px;
  outline-width: 0;
  border: transparent solid 2px;
  font-size: 1rem;
}

.chats__mainFooter > form > button {
  background: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  outline-width: 0;
}

.chats__mainFooter > form > button > * {
  color: white;
  font-size: 1.4rem;
  transition: 0.1s ease-in;
}

.chats__mainFooter > form > button > *:hover {
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  color: #fff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: drop-shadow(1px 1px 1px dodgerblue);
  filter: drop-shadow(1px 1px 1px dodgerblue);
}

.chats__mainFooter > form > button .MuiSvgIcon-root {
  font-size: 1.3rem !important;
}

.emoji-picker-react {
  position: absolute !important;
  bottom: 110%;
  left: 15px;
}

@media screen and (max-width: 550px) {
  .chats__main {
    position: absolute;
    top: 0;
    left: 110%;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.7);
    left: 110%;
  }

  /* Controlls */
  .chats__main.opening {
    left: 0px;
  }
}
