/* I set the app to be display flex. so here no longer set width and height
   flex: 1; does that for us. */
.chats {
  flex: 1;
  height: 100%;
  display: flex;
  box-sizing: border-box !important;
  align-items: center;
  margin: 0 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@import "./ChatsSidebar.css";

@import "./ChatsMain.css";

@media screen and (max-width: 550px) {
  .chats {
    margin: 0 10px;
  }
}
