.sideMenu {
  width: auto;
  padding: 20px 5px;
  justify-self: center;
  align-self: center;
  height: fit-content;
  background: rgb(242, 242, 242);
  margin-right: 10px;
}

.sideMenu > .sideMenu__header {
  font-size: 0.8rem;
  position: relative;
}

.sideMenu > .sideMenu__header::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 100%;
  background: rgb(20, 20, 20);
  bottom: -8px;
  left: 0;
  margin: auto;
}

.sideMenu > .sideMenu__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sideMenu > .sideMenu__main > * {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.sideMenu > .sideMenu__main > * > * {
  font-size: 2.6rem;
  color: black;
  display: grid;
  place-items: center;
}

.sideMenu > .sideMenu__main > :first-child {
  margin-top: 10px;
}

.sideMenu > .sideMenu__main > :last-child {
  margin-bottom: 0;
}
