#crop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100vw;
  display: grid;
  height: 100vh;
}

.cropImg {
  width: 100vw;
  height: fit-content;
  max-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden !important;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
}

h1 {
  text-align: center;
  margin: 15px 0;
  font-size: 1.3rem;
  font-weight: normal;
  color: black;
  font-family: "Poiret One";
  color: #fff;
}

#crop .buttons {
  margin: auto;
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
}

#crop .buttons > button {
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  gap: 5px;
  font-size: 0.9rem;
  transition: all ease-in-out 0.2s;
  min-width: 160px;
  background-color: rgb(0, 155, 246);
  color: #fff;
}

#crop .buttons > button:first-of-type {
  background-color: #d01c54;
}

#crop .buttons > button:hover {
  background-color: rgb(35, 174, 255);
  box-shadow: none;
}

#crop .buttons > button:first-of-type:hover {
  background-color: rgba(208, 28, 84, 0.8);
}
