@keyframes animate-profile {
  from { left: 100% }
  to { left: 0 }
}

.profile{
  width: 230px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: none;
  overflow-y: auto;
  position: relative;
  margin-left: 10px;
  left: 100%;
  height: 99%;
  overflow-x: hidden;
}

.profile > .profile__header {
  width: 100%;
  height: fit-content;
}

.profile > .profile__header > .profile__headerTitle {
  font-size: 1.7rem;
}

.profile > .profile__header > .profile__headerImgContainer {
  width: 100%;
  height: 180px !important;
  padding: 10px;
  margin: auto;
  position: relative;
}

.profile > .profile__header > .profile__headerImgContainer > .profile__headerImg {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.profile > .profile__header > .profile__headerImgContainer > .MuiSvgIcon-root {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.profile > .profile__main > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  padding-left: 5px;
}

.profile > .profile__main > div::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  margin: auto;
  height: 2px;
  width: 100%;
  background: rgb(234, 234, 234);
}

.profile > .profile__main > div > :first-child > p {
  font-weight: 700;
}

.profile > .profile__main > div > :last-child {
  margin-left: 5px;
}

.profile > .profile__main > :last-child {
  margin-bottom: unset;
}

.profile > .profile__main > :last-child::after {
  all: unset;
}

.profile__showing {
  display: block;
  animation: animate-profile .7s;
  left: 0;
}

.profile__closing {
  animation-direction: reverse; 
  animation: animate-profile .7s;
  left: 100%;
  display: none;
}

.profile__closingDone {
  left: 100%;
}
