.contact {
  width: 85%;
  margin: auto;
  box-sizing: border-box;
  background: linear-gradient(
    275deg,
    rgba(29, 161, 242, 0.55),
    rgba(29, 161, 242, 0.75)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 45px;
  cursor: pointer;
}

.contact > .contact__iconContainer {
  background: white;
  height: 35px !important;
  width: 35px !important;
  margin-right: 3px;
  border-radius: 50%;
  display: grid;
  color: #454545;
  place-items: center;
}

.contact > .contact__name {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 5px;
  user-select: none;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.contact > .contact__iconContainer > .contact__icon {
  font-size: 1.4rem;
}

.contact:hover {
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
  background: linear-gradient(
    275deg,
    rgba(47, 40, 74, 0.55),
    rgba(29, 161, 242, 0.55)
  );
}

@media only screen and (max-width: 850px) {
  .contact > .contact__name {
    font-weight: 300;
    padding-left: 5px;
  }
}
