.app {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  font-family: "Caladea", serif;
  background: url("./wallpapertip_book-wallpaper-hd_98006.jpg") no-repeat;

}

@media only screen and (max-width: 800px) and (min-width: 550px){
  .app {
    height: 100%;
    background: url("./wallpapertip_book-wallpaper-hd_98006.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
  }
}

@media only screen and (max-width: 550px){
  .app {
    height: 100%;
    background: url("./wallpapertip_book-wallpaper-hd_98006.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
  }
}