.app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100% !important;
  max-width: 1922px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: none;
  scroll-behavior: smooth;
}

.app > p {
  font-weight: 300;
}

*::-webkit-scrollbar {
  display: none;
}

.app > * {
  box-sizing: border-box;
}

* {
  overflow-x: none;
  outline-color: #009bf6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Styling a textarea and its label */
.formTextareaLabel {
  font-size: 1.1rem;
  font-weight: lighter;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.formTextarea {
  transition: all ease-in-out 0.2s;
  background: white;
  width: 100%;
  outline: none;
  margin: auto;
  border: white solid 1px;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px;
  box-sizing: border-box;
  height: 110px !important;
  resize: none;
}

.formTextarea:focus {
  border: #009bf6 solid 1px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.8);
  transition: all ease-in-out 0.2s;
  border-radius: 1px;
}

/* This is the "X" button with blue background */
.btnBack {
  border: none;
  transition: all ease-in-out 0.2s;
  background: rgb(29, 161, 242, 0.9);
  box-shadow: 12px 13px 13px 0 rgba(0, 0, 0), -2px -3px 3px rgba(87, 87, 87);
  width: 45px;
  text-align: center;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.9em;
  border-radius: 22px;
  font-family: "Quicksand";
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 1px #000000);
  filter: drop-shadow(1px 1px 1px #000000);
}

.btnBack:hover {
  transition: all ease-in-out 0.2s;
  box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.5),
    0 0 7px rgba(255, 255, 255, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  border-radius: 5%;
}

/* The logo on top of every page has the same styling, just give it className="logo" */
.logo {
  width: 180px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
  -webkit-filter: drop-shadow(2px 4px 4px #000000);
  filter: drop-shadow(2px 4px 4px #000000);
}

.title--light {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Poiret One";
  color: #fff;
  -webkit-filter: drop-shadow(2px 4px 8px #585858);
  filter: drop-shadow(2px 4px 8px #585858);
}

@media only screen and (max-width: 1370) and (min-width: 550px) {
  .app {
    height: auto;
    width: auto;
    min-width: 100vw;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 550px) {
  .app {
    height: auto;
    width: auto;
    min-width: 100vw;
    min-height: 100vh;
  }
}
