.app {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 50vw;
  font-family: "Caladea", serif;
  background: url("./bg-4.jpg") no-repeat;
  display: flex;
  overflow: hidden;
}

.app * {
  transition: all ease-in-out 0.4s;
}
