.editBook {
  width: 80%;
  max-width: 400px;
  position: absolute;
  margin-top: auto !important;
  left: calc(50vw - 200px);
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  top: 140px;
  gap: 8px;
  z-index: 20;
  color: rgb(73, 73, 73);
  padding: 20px 0;
  padding-top: 10px;
  box-sizing: border-box;
}

.editBook > button {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #009bf6;
  padding: 8px;
  border-radius: 50%;
  border: none;
  background-color: #f1f1f1;
  display: grid;
  cursor: pointer;
  place-items: center;
  box-shadow: 1px 1px 0.5px 0 rgba(0, 0, 0, 0.2);
}

.editBook > button:hover {
  background-color: rgb(226, 226, 226);
}

.editBook header {
  padding: 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.editBook > p {
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.editBook h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: #009bf6;
}

.editBook hr {
  width: 100%;
  margin: auto;
  background-color: rgb(219, 219, 219);
}

.editBook form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 15px;
}

.editBook form div {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.editBook__footer {
  display: flex;
  gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.editBook__footer button {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  gap: 5px;
  font-size: 0.97rem;
  transition: all ease-in 0.2s;
  color: #fff;
  background-color: rgb(0, 155, 246);
}

.editBook__footer button:hover {
  background-color: rgba(0, 155, 246, 0.8);
}

@media screen and (max-width: 500px) {
  .editBook {
    width: 85%;
    left: calc(50vw - 42.5%);
  }
}
