.recent__uploads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  max-width: 975px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 8px;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 20px;
    box-shadow: 0 1px 6px rgb(32 33 36/70%);
    background: rgba(255, 255, 255, 0.85);
}

.recent__uploads > * + * {
  margin-top: 15px;
}

.home__books {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 130px);
}

#upload {
  margin-right: 10px;
}

.recent__uploads .caption {
  font-size: 1rem !important;
}

@media screen and (min-width: 400px) {
  .recent__uploads .caption {
    font-size: 1.2rem !important;
  }
}
