.book {
  width: 140px !important;
  background: #fff;
  overflow: hidden;
  height: fit-content;
  border-radius: 5px;
  transition: all 0.15s;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
  position: relative;
}

.book__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: -4px;
}

.book:hover {
  transform: scale(0.97);
}

.book__footer {
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 3;
  opacity: 1;
  bottom: 0;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

/* .book:hover .book__footer {
  opacity: 0;
  transition: all .3s;
} */

.book__details {
  z-index: 9;
  background: #009bf6;
  opacity: 95%;
  width: 110px;
  height: 110px;
  position: absolute;
  top: -40px;
  right: -40px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.35s, border-radius 0.5s, top 0.1s;
  overflow: hidden;
  display: none;
}

.book__details.rec {
  background-color: #e0115f;
}

.book__details:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 60%;
}

.book__details:hover .book__detailsToggle {
  opacity: 0;
}

.book__details:hover .book__detailsBody {
  opacity: 1;
}

.book__detailsToggle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.book__detailsToggle .infoIcon {
  font-size: 2rem;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  opacity: 1;
}

.book__detailsBody {
  opacity: 0;
  transition: all 0.55s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 5px;
}

.book__detailsBody > span {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 200;
  margin: 2px;
  color: #fff;
}

.book__footerLeft h4 {
  margin: 0;
  flex: 1;
  color: #000 !important;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: none;
}

.book__footerLeft p {
  color: #000;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 200;
}

.book__footerRight {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: flex-end;
  display: flex;
  margin-left: auto;
}

.book__footerRight span .MuiSvgIcon-root {
  font-size: 1.4rem;
  color: #000;
  cursor: pointer;
  /* display: none; */
}

.book__footerRight span .MuiSvgIcon-root:hover {
  color: #009bf6;
}
