.message {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  overflow-wrap: break-word;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.message > * + * {
  margin-top: 5px;
}

.message * {
  font-family: "Poppins", sans-serif;
}

.rec {
  margin-left: auto;
  align-items: flex-end;
}

.message > .message__text {
  padding: 10px 15px;
  border-radius: 25px;
  border-bottom-left-radius: 5px;
  overflow-wrap: break-word;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  box-sizing: border-box;
  background: #8be8ff;
  box-shadow: 0 2px 8px 0 #1f26871a;
}

.message > .message__time {
  font-weight: bold !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  margin-left: 5px;
}

.rec > .message__text {
  border-radius: 50px;
  border-bottom-right-radius: 15px;
  background: #5dc3ff !important;
  box-shadow: 0 2px 8px 0 #1f26871a;
}

.rec > .message__time {
  margin-left: auto;
  font-size: 0.78rem;
  margin-right: 5px;
}

@media only screen and (max-width: 850px) {
  .rec > .message__text {
    font-size: 1em;
    background: #009bf6;
    box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
  }
  .rec > .message__time {
    margin-left: auto;
    font-size: 0.8em;
    font-weight: 300;
  }
}
