.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header__logo {
  height: 40px;
  width: 150px;
  object-fit: contain;
  filter: drop-shadow(2px 4px 4px #000000);
}

.header__button {
  display: none;
}

.header__nav {
  background: #fff;
  height: 40px;
  width: fit-content;
  border-radius: 8px;
  display: grid;
  place-items: center;
  padding: 0 20px;
  order: 1;
  margin: auto;
  padding: 0px 50px 0px 30px;
}

.split {
  width: 10%;
  margin: auto;
  display: none;
}

.nav__links {
  display: flex;
  width: 100%;
  gap: 40px;
}

.nav__linksItem {
  list-style: none;
  cursor: pointer;
}

.nav__linksItem span:hover {
  color: rgb(21, 161, 242);
}

.nav__linksItem > a {
  transition: color ease-in-out 0.2s;
  color: black;
  text-decoration: none;
}

.nav__linksItem > a:hover {
  color: rgb(21, 161, 242);
}

@media screen and (max-width: 850px) {
  .header__logo {
    margin-right: auto;
    width: 120px !important;
    box-sizing: border-box;
  }
  .header {
    position: relative;
    flex-direction: row-reverse;
  }

  .header__button {
    display: block;
  }

  .header__button > .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }

  .header__nav {
    background-color: transparent;
    width: 0.1px;
    padding: 0;
    margin: 0;
  }

  .nav__links {
    position: absolute;
    top: 80px;
    left: -110%;
    flex-direction: column;
    width: 100%;
    max-height: 80vh;
    z-index: 100;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    gap: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.4s;
    overflow-y: auto;
    text-align: center;
  }

  .nav__linksItem {
    font-size: 1.4rem;
    padding: 14px;
  }

  /* .nav__linksItem > a {
    color: rgb(255, 255, 255);
  } */

  .nav__links.opening {
    left: 0%;
  }

  .nav__links.closing {
    left: 110%;
  }
}
